/**
 * 变量、mixin、主题颜色及变量
 * ---------------------------------------------------------
 */

$theme-black:           #666;       // 主题黑
$theme-orange:          #F7BA2A;    // 主题橙色
$theme-green:           #259B24;    // 主题绿色
$theme-gray:            #666;       // 主题灰
$theme-light-gray:      #999;       // 主题浅灰
$theme-red:             #ff4949;    // 主题红色
$theme-navbar:          rgba(249, 249, 249, 1);     // 主题navbar色
$theme-navbar-border:   #e6e6e6;     // 主题navbar色
$theme-sidebar1:        rgb(255, 255, 255);       // 主题sidebar色(42, 63, 84)
$theme-sidebar2:        rgba(234, 237, 241, 1);     // 主题sidebar色

// 主题颜色选择器
.theme-black {
  color: $theme-black;
  vertical-align: middle;
}
.theme-orange {
  color: $theme-orange;
  vertical-align: middle;
}
.theme-gray {
  color: $theme-gray;
  vertical-align: middle;
}
.theme-light-gray {
  color: $theme-light-gray;
  vertical-align: middle;
}
.theme-red {
  color: $theme-red;
  vertical-align: middle;
}
.theme-green {
  color: $theme-green;
  vertical-align: middle;
}

// 宽高
@mixin wh($width, $height){
  width: $width;
  height: $height;
}
@mixin page-center {
  width: 1200px;
  margin: 0 auto;
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}
