/**
 * 公用的样式
 * ---------------------------------------------------------
 */

@import './config.scss';

/**
 * index.vue
 * ---------------------------------------------------------
 */
// 用这个方法，需要设置高度，但是体验是较好的。
.form-search {
  transition: height .28s ease-out;
  overflow: hidden;
}
.table-head-title {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 25px;
  padding-right: 30px;
  font-size: 16px;
  color: #999999;
  background-color: #f8f8f8;
  border: 1px solid #e6ebf5;
  border-bottom: 0;
}
.pull-collection {
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #e4e4e4;
  color: #cccccc;
  padding: 10px 0;
  margin-bottom: 35px;
  cursor: pointer;
}
.hide-collection {
  height: 0 !important;
}

/**
 * detail.vue
 * ---------------------------------------------------------
 */
.detail-border {
  border: 1px solid #e6e6e6;
}
.detail-border-padding {
  padding: 0 30px;
  border: 1px solid #e6e6e6;
}
.detail-padding {
  padding: 0 30px;
}
// 手动写table样式
.table-style {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 4px;
  border-collapse:collapse;
  border: 1px solid #e6ebf5;

  td {
    height: 48px;
    padding: 0 20px;
    border: 1px solid #e6ebf5;
  }
  .td-title {
    text-align: right;
    background-color: #f8f9fb;
  }
}
.pagination-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 65px;
  border-top: 0;
  height: 80px;
  margin: 0;
}
.detail-title {
  font-size: 18px;
  color: $theme-light-gray;
  margin-top: 18px;
  margin-bottom: 15px;

  i {
    margin-right: 8px;
  }
}

/**
 * edit.vue
 * ---------------------------------------------------------
 */
.edit-border-padding {
  padding: 20px 30px 58px;
  border: 1px solid #e6e6e6;
}
.table-title-in {
 height: 50px;
 line-height: 50px;
 font-size: 16px;
 padding-left: 25px;
 color: #999999;
 background-color: #f8f8f8;
 border-bottom: 1px solid $theme-navbar-border;
}

/**
 * navbar
 * ---------------------------------------------------------
 */
.navbar {
  .el-dropdown, .hamburger-container {
    outline: none;
  }
  .el-dropdown {
    cursor: pointer;
  }
}

/**
 * search
 * ---------------------------------------------------------
 */
// 列表的搜索按钮
.page-search {
 float: right;
 margin-bottom: 30px;
}
.search-left {
  .el-form-item {
   float: left !important;
 }
}

/**
 * form
 * ---------------------------------------------------------
 */
// 查询筛选栏
.sort-form-bar {
  text-align: right;

  .el-form-item__content {
    line-height: 34px;
  }
}
.input-center input {
  text-align: center;
}
.item-ml0 {
  .el-form-item__content {
    margin-left: 0 !important;
  }
}

/**
 * table
 * ---------------------------------------------------------
 */
// 日历
.el-range-editor.el-input__inner {
  width: 265px;
}
.el-date-editor .el-range__close-icon {
  position: absolute;
  right: 3px;
  top: 2px;
  opacity: 1;
  display: block;
}
.el-table th, .el-table td {
  text-align: center;
}
.margin-lr6 {
  margin: 0 6px;
}
.table-search-selected {
  width: 193px;
}
.filter-container {
  padding-bottom: 20px;
}
// 表格里面的链接样式
.table-link {
  cursor: pointer;
  vertical-align: middle;
  color: $theme-orange;
}
.green-link {
  color: $theme-green;
  cursor: pointer;
  vertical-align: middle;
}
// 分页
.pagination-container {
  text-align: center;
  margin: 30px auto 0;
}
// table 表格内的时间格式化
.format-time {
  display: inline-block;
  width: 84px;
  height: 24px;
  overflow: hidden;
}
// 模态框样式
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.set-table-dialog {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .content {
    overflow: hidden;
  }
  .footer {
    position: fixed;
    bottom: 50px;
    @media screen and (max-width: 1366px) {
      bottom: 20px;
    }
    width: 320px;
    text-align: center;

    .btn-clear {
      width: 100px;
    }
    .btn-save {
      width: 200px;
    }
  }
  h1 {
    font-size: 18px;
    text-align: center;
    padding-top: 30px;

    .el-icon-arrow-right {
      cursor: pointer;
    }
  }
  @media screen and (max-width: 1366px) {
    h1 {
      padding-top: 15px;
    }
    .content {
      .date {
        top: 120px;
      }
      .set-date {
        margin-top: 30px;
      }
    }
  }
  .panel {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 11111;
    background-color: #fff;
    width: 390px;
    padding: 0 35px;
    height: 100%;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-top: 1px solid #f0f2f7;
  }
  .v-modal {
    top: 60px;
    left: -20px;
    width: 150%;
  }
}
// 自定义弹出框日历宽度
.width130 {
  width: 100%;
}

/**
 * member-tree 会员树状选择器模态框
 * ---------------------------------------------------------
 */
// 会员选择对话框
.role-tree {
  .filter-bar {
    margin-bottom: 15px;
  }
  .el-tree {
    border: 1px solid rgb(223, 225, 236);
  }
  .el-tree, .el-table {
    box-sizing: border-box;
    border-radius: 4px;
    overflow: auto;
    height: 360px;
    /*.el-tree-node > .el-tree-node__children {*/
    /*overflow: auto;*/
    /*}*/
  }
  .summary, .btn-reset {
    margin-top: 15px;
  }
  .selectedNum {
    color: $theme-orange;
  }
  .btn-reset {
    cursor: pointer;
    color: $theme-orange;
    text-decoration: underline;
  }
  .btn-delete {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    vertical-align: text-bottom;
    line-height: 1;
  }
  .dialog-footer {
    text-align: center;
  }
}
.el-tree-node > .el-tree-node__children {
  overflow: visible;
  .el-tree-node__label {
    margin-right: 6px;
  }
}
.role-dialog {
  .el-table__row:hover .btn-delete {
    visibility: visible!important;
  }
}
@media screen and (max-height: 768px) {
  .role-dialog {
    margin-top: 2%!important;
    margin-bottom: 0;
    width: 60%;
  }
}

/**
 * detail
 * ---------------------------------------------------------
 */
.align-bottom {
  position: relative;

  .set-bottom {
    position: absolute;
    bottom: 0;
  }
}
.detail-info {
  .label {
    width: 180px;
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    line-height: 1;
    padding: 11px 12px 11px 0;
    box-sizing: border-box;
  }
  .label-con {
    line-height: 36px;
    position: relative;
    font-size: 14px;
    margin-left: 180px;
    color: $theme-gray;
  }
}
// 页面标题样式
.page-title {
  min-height: 20px;
  padding: 30px 20px 20px 0;
  clear: both;
  overflow: hidden;

  h1 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: $theme-black;
    line-height: 20px;
  }
}
// 富文本编辑器
.quill-editor-box {
  min-height: 150px;
  margin-bottom: 60px;

  .quill-editor {
    height: 300px;
  }
}
.grid-title{
  position: relative;
  margin-top: 8px;
  margin-bottom: 22px;
  border-bottom: 1px solid $theme-light-gray;
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
  //background-color: #eeeef6;

  &:before {
    content: '';
    display: inline-block;
    margin-right: 12px;
    width: 4px;
    height: 20px;
    vertical-align: middle;
    background-color: $theme-orange;
  }
}
// 页面搜索，右侧新增按钮
.add-new {
  float: right;
  color: #fff;
}
.width210 {
  width: 210px;
}
.width170 {
  width: 170px;
}
// 卡片padding
.card-padding {
  position: relative;
  padding: 30px 20px;

  &.card-padding-vertical {
    border-top: 1px solid #fff;
    padding-top: 0;
  }
}
// 按钮链接
.btn-link {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $theme-orange;
  border: 1px solid $theme-orange;
  color: #ffffff;
  margin: 0;
  padding: 10px 15px;
  border-radius: 4px;

  & + .btn-link {
    margin-left: 10px;
  }
  &:hover {
    background: rgb(126, 153, 234);
    border-color: rgb(126, 153, 234);
    color: #fff;
  }
}
// 公共新增、编辑按钮，居中显示
.button-row {
  margin-left: -100px;
  margin-bottom: 0;
  margin-top: 20px;
  text-align: center;

  button {
    width: 120px;
  }

  p {
    margin-top: 10px;
  }
}
.align-left {
  text-align: left;
}

/**
 * reset
 * ---------------------------------------------------------
 */
// 模拟 组件el-form-item，的样式
.form-item-style {
  line-height: 36px;
  margin-bottom: 22px;
}

/**
* 表格名称框、分页框样式
*/
.table-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-left: 25px;
  padding-right: 30px;
  font-size: 16px;
  color: #999999;
  border: 1px solid #e6ebf5;
  border-bottom: 0;
  background-color: #f8f8f8;
}
.page-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 65px;
  padding-left: 20px;
  border: 1px solid #e6ebf5;
  border-top: 0;
  height: 80px;
  margin: 0;
}
.space-between {
  display: flex;
  justify-content: space-between;
}

// 给border-radius置0
.border-radius0 {
  border-radius: 0;
}

// 弹框(dialog)公用，给组件传样式值: custom-class="dialog-wrap"
.dialog-wrap {
  width: 600px;
  text-align: left;
  .el-dialog__header{
    background-color: #f2f2f2;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .el-dialog__title {
    color: #666;
    font-size: 16px;
  }
  .el-dialog__body {
    position: relative;
  }
  .el-dialog__headerbtn .el-dialog__close {
    color: #999;
    font-weight: bolder;
  }
  .el-dialog__footer {
    padding: 20px;
    border-top: 1px solid #e4e4e4;
  }
  .orange-btn {
    border-color: $theme-orange;
    color: $theme-orange;
    &:hover {
      background-color: #f9f7f3;
    }
    &:active {
      background-color: #f7f1e7;
    }
  }
}
.dialog-form-wrap {
  .el-dialog__body {
   padding-bottom: 80px;
  }
}

// 显示input框clear icon
.is-show-clear {
  .is-show {
    opacity: 0;
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all .3s;
    line-height: 40px;
  }
  &:hover {
    .is-show {
      opacity: 1;
    }
  }
}

























